In [1]:
import pandas as pd

In [5]:
clicks_train = pd.read_csv('~/www/outbrain-click-prediction/data/data/clicks_train.csv')

In [6]:
clicks_train.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [7]:
clicks_train.groupby('clicked').count().sort_values('ad_id', ascending = False)

         display_id     ad_id
clicked
0          70267138  70267138
1          16874593  16874593